<div>
  <div class="cards">
    <div class="card frame_16">
       <div class="card-body">
         <h5 class="card-title my_skills">My skills</h5>
         <h6 class="card-subtitle mb-2 text-muted skill_name">Python, PostgreSQL, PHP</h6>
        <div class="containerX">
          <div class="skills python">70%</div>
        </div>
        <h6 class="card-subtitle mb-2 text-muted skill_name">HTML, CSS, C#</h6>
       <div class="containerX">
         <div class="skills html">60%</div>
       </div>
       <h6 class="card-subtitle mb-2 text-muted skill_name">JavaScript, Git</h6>
      <div class="containerX">
        <div class="skills js">50%</div>
      </div>
      <h6 class="card-subtitle mb-2 text-muted skill_name">Node.js</h6>
     <div class="containerX">
       <div class="skills node">10%</div>
     </div>
       </div>
     </div>

     <div class="card frame_20">
        <div class="card-body">
           <img src="img/ross.jpg" class="ross">
           <div class="frame_18">
             <h5 class="card-title my_name">Dmitriy Shustov</h5>
             <h6 class="card-subtitle mb-2 text-muted developer">Web developer</h6>
           </div>
           <div class="frame_19">
             <a href="https://t.me/dimisho"><img src="img/tg.png" height="20px" width="20px"></a>
             <a href="https://github.com/Shust0vD"><img src="img/github.png" height="20px" width="20px"></a>
           </div>
        </div>
      </div>
    </div>
</div>
